@import "fonts.scss";

//vars
$color1: #9A0000;

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background: url("../images/fon_1.jpg") no-repeat center center fixed;
    background-color: #EFEFEF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Bebas Neue';
    font-weight: 700;
    color: black;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h5 {
    margin: 0;
}

/* Container */

.container  {
    margin-left: 70px;
}

/* Header */
.header_inner {
    display: flex;
    justify-content: space-between;
}
.header-img {
    margin-top: -15px;
    margin-left: -100px;
    width: auto;
    height: auto;
}
.header-img2 {
    display: none;
}
.header_logo {
    position: absolute;
}
.header_logo img {
    margin-top: 50px;
    margin-left: 70px;
    width: 177px;
    height: 50px;
}
.header_text {
    margin-left: 70px;
    max-width: 40%;
    text-transform: uppercase;
    margin-top: 170px;
    .header_suptitle {
        font-weight: 700;
        margin: 200px 0 -20px 0;
        font-size: 35px;
    }
    .header_title {
        font-family: 'Bebas Neue', cursive;
        font-size: 158px;
        color: $color1;
    }
    .title_ico {
        position: absolute;
        top: 390px;
        left: 175px;
    }
}

/* Buttons */

.btn {
    display: block;
    margin: 0 0 100px 0;
    height: 80px;
    width: 78px;
    cursor: pointer;
    a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }
    .btn_img {
      width: 78px;
      height: 39px;
    }
    .btn_text {
      font-size: 25px;
      text-align: center;
    }
}

.btn2 {
    position: absolute;
    z-index: 99;
    max-width: 362px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: $color1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: -200px;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: -1px 10px 15px 1px rgba(34, 60, 80, 0.2);
    a {
        cursor: pointer;
    }
}

.btn2:hover {
    opacity: 0.6;
}

.btn_header {
    position: absolute;
    top: 650px;
    left: 100px;
}

.btn_broadcast {
    margin-top: 150px;
    margin-bottom: 70px;
}
.btn_about {
    margin-top: 100px;
}

.btn2_broadcast {
    margin-top: -10px;
}
.btn2_about {
    margin: 70px 0 190px;
}

/* Bookmark */

.bookmark {
    position: relative;
.bookmark_img {
    height: 178px;
    margin-left: -80px;
}
    .bookmark_title {
        font-size: 35px;
        color: #fff;
        position: absolute;
        top: 30px;
        line-height: 1;
    }
}

/* About */

.about {
    .about_blocks {
        margin-top: 50px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .about_block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            max-width: 360px;
            height: 180px;
            border-radius: 10px;
            background-color: #fff;
            font-size: 35px;
            color: $color1;
            box-shadow: 0px 12px 18px -1px rgba(34, 60, 80, 0.23);
        }
    }
}

/* Section */

section {
    min-width: 1300px;
    width: 100%;
    height: 100vh;
}
.section_inner {
    display: flex;
    flex-direction: column;
}
.section_title {
    margin-top: 70px;
    color: $color1;
    font-size: 55px;
    line-height: 1.1;
}

.section_name {
    font-family: 'Roboto';
    color: #9A0000;
    font-weight: 900;
}

.section_suptitle {
    font-size: 35px;
    line-height: 1.3;
}

.section_block {
    margin-top: -40px;
}
.section_text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    line-height:35px;
}

/* Broadcast */

.broadcast_blocks {
    display: flex;
    justify-content: space-around;
}
.broadcast_inners {
    width: 40%;
}
.broadcast_inners-2 {
    margin-left: 310px;
    margin-right: 100px;
}

/* Plus */

.plus_blocks {
    margin: 50px 150px 0 50px;
    display: flex;
    justify-content: space-between;
    .plus_item img {
        width: auto;
        height: 650px;
    }
}

/* Slider */

.slider {
    width: 100%;
    margin-top: 50px;
    margin-left: -30px;
    position: relative;
}
.item {
    position: relative;
    margin: 10px;
    padding-bottom: 15px;
}

.section_slider_title {
    font-size: 62px;
    margin: 50px 130px 0 0px;
}
.owl-item .active {
    position: absolute;
    top: 0;
}

.owl-carousel {
    width: 100%;
    height: 500px;
    .owl-item {
        margin-right: 55px;
        height: 450px;
        width: 400px;
        padding-top: 15px;
        img {
            width: auto;
            outline: none;
        }
    }
}
.owl-stage-outer {
    height: 600px;
    margin-right: -50px;
}
.owl-stage {
    margin-left: 50px;
    height: 600px;
}
.owl-carousel .active .section_slider_title {
    position: static;
    left: 200px;
    margin-left: 500px;
    display:block;
}
.owl-carousel .active .section_text_paragraph {
    position: static;
    display:block;
}

.owl-item.active.center img {
    border-radius: 20px;
    border: 12px solid white;
    margin-top: -10px;
}

.slide-info, .slide-info2, .slide-info3, .slide-info4, .slide-info5, .slide-info6 {
    display: none;
    height: 300px;
}
.section_slider_title {
    position: relative;
    margin-top: -150px;
    color: $color1;
    font-size: 55px;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.section_text_paragraph {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    line-height:35px;
    margin-left: 500px;
    margin-right: 50px;
}

/* Footer */

.footer_blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    margin-right: 20px;
    .footer_block {
        margin-right: 250px;
    }
    .footer_text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 25px;
    }
    .footer_title {
        color: $color1;
        font-weight: 700;
        font-size: 35px;
        line-height: 1.2;
    }
    .footer_logo img {
        width: 321px;
        height: 91px;
        margin-bottom: 50px;
    }
    .footer_logo2 img {
        width: 301px;
        height: 59px;
        margin-bottom: 50px;
    }
}
.footer_text a {
    text-decoration: none;
    color: $color1;
}
.footer_description {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: $color1;
    display: flex;
    font-size: 45px;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 1.2;
}

/* Video */

/* Style the video: 100% width and height to cover the entire window */
.video_block {
    margin-top: 0px;
    min-height: 1000px;
    position: relative;
}

#myVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin:0;
    overflow: hidden;
}

/* Media */

@media (max-width: 1500px) {
    .btn_about {
        margin-top: -95px;
    }
} //1500px

@media (max-width: 1400px) {
    .btn_about {
        margin-top: -145px;
    }
} //1500px

@media (max-width: 1300px) {
    .btn_about {
        margin-top: -150px;
    }
    .header_text {
        margin-left: 15px;
        margin-top: 95px;
    }
    .header-img {
        margin-left: -150px;
    }
    .video_block {
        height: 90vh;
    }
    .owl-carousel {
    width: 100%;
    }
} //1300px

@media (max-width: 1250px) {
    .btn_about {
        margin-top: -50px;
    }
    .header-img {
        margin-left: 50px;
    }
    .video_block {
        height: 90vh;
        display: flex;
    }
    #myVideo {
        min-width: 1420px;
    }
}   //1250px

@media (max-width: 990px) {
    .bookmark {
        margin-bottom: 100px;
        .bookmark_img {
            margin-left: -70px;
        }
        .bookmark_img img {
            width: 420px;
        }
        .bookmark_title {
            font-size: 38px;
            position: absolute;
            left: 0px;
        }
    }
    .header {
        height: 130vh;
        min-height: 1850px;
        max-height: 1850px;
    }
    .header_title img {
        width: 100%;
        max-width: 900px;
        min-width: 900px;
        margin-top: 50px;
        margin-left: 950px;
    }
    .header-img {
        display: none;
    }
    .header-img2 {
        margin-top: -150px;
        margin-left: 700px;
        display: block;
        height: 1000px;
        max-width: 1500px;
        min-width: 1400px;
        width: 100%;
    }
    .header_logo img {
        width: auto;
        height: 100px;
        margin-left: 475px;
        margin-top: 10px;
    }
    .header_text {
        margin-left: -740px;
        margin-top: 118px;
        .header_suptitle {
            font-size: 60px;
            width: 600px;
            margin: 10px 0 170px 1150px;
        }
    }
    .btn_header {
        display: block;
        cursor: pointer;
        margin-top: 880px;
        margin-left: 470px;
        height: 80px;
        width: 78px;
        .btn_img {
            width: 170px;
            height: 90px;
        }
         a {
            font-size: 45px;
        }
         .btn_text {
            margin-left: 26px;
            font-size: 75px;
        }
    }
    .btn {
        display: none;
        .btn_text {
            font-size: 45px;
        }
    }
    .btn2 {
        position: static;
        border-radius: 20px;
        font-size: 45px;
        max-width: 490px;
        width: 100%;
        height: 95px;
        position: static;
        margin-top: 400px;
        margin-bottom: 50px;
    }
    .btn2_broadcast {
        margin: 100px 0 150px;
    }
        .btn2_about {
        margin-top: 50px;
    }
    .btn_header {
        display: block;
    }
    .about {
        .about_blocks {
            justify-content: flex-start;
            flex-wrap: wrap;
            .about_block {
                margin-left: 40px;
                margin-top: 40px;
                font-size: 40px;
            }
        }
    }
    .broadcast_blocks {
        flex-wrap: wrap;
        .broadcast_inners {
            width: 100%;
        }
        .broadcast_inners-2 {
            margin-left: 0px;
        }
    }
    .weapon {
        margin-top: 250px;
    }
    section {
        height: auto;
    }
    .section_title {
        margin-top: 80px;
        margin-left: 0px;
        font-size: 115px;
        line-height: 1.1;
    }
    .section_text_paragraph {
        margin-top: 50px;
        margin-right: 50px;
        margin-left: 0;
        font-size: 38px;
        line-height: 1.2;
    }
    .section_suptitle {
        font-size: 42px;
    }
    .section_slider_title {
        margin-top: -80px;
        margin-left: 0px;
        margin-bottom: -50px;
        font-size: 115px;
        line-height: 1.1;
    }
    .plus_blocks {
        justify-content: space-around;
        margin-left: 150px;
    }
    .video_block {
        margin-bottom: -200px;
        height: 100vh;
    }
    #myVideo {
        min-width: 1360px;
    }
    .footer_blocks {
        flex-wrap: wrap;
        justify-content: space-around;
        .footer_text {
            font-size: 45px;
        }
        .footer_title {
            font-size: 55px;
        }
        .footer_logo2 {
            margin-top: 60px;
            margin-bottom: -20px;
        }
    }
    .footer_description {
        font-size: 55px;
    }
} // 990px

@media (max-width: 750px) {
    .about {
        .about_blocks {
            .about_block {
                font-size: 55px;
                border-radius: 25px;
            }
        }
    }
    .bookmark {
        margin-bottom: 100px;
        .bookmark_img {
            margin-left: -70px;
        }
        .bookmark_img img {
            width: 50%;
        }
        .bookmark_title {
            font-size: 85px;
            position: absolute;
            top: 50px;
            left: 15px;
            width: 440px;
            line-height: 1;
        }
    }
    .bookmark_footer {
        .bookmark_img img {
            width: 700px;
        }
        .bookmark_title {
            font-size: 80px;
        }
    }
    .btn_header {
        margin-top: 900px;
    }
    .btn2 {
        margin-top: 400px;
        font-size: 55px;
        max-width: 605px;
        width: 100%;
        height: 115px;
    }
    .btn2_about {
        margin-top: 100px;
    }
    .btn2_broadcast {
        margin-top: 50px;
    }
    .header_text {
        margin-left: -740px;
        margin-top: 118px;
        .header_suptitle {
            font-size: 70px;
            width: 800px;
            margin: 10px 0 170px 1100px;
        }
    }
    .plus_blocks {
        margin-top: 150px;
        margin-bottom: -100px;
    }
    .section_text {
        font-size: 50px;
    }
    .slider {
        margin-top: 250px;
    }
    .footer_blocks {
        .footer_block {
            margin-top: 150px;
            margin-right: -650px;
            .footer_logo img {
                width: 450px;
                height: 120px;
            }
            .footer_logo2 img {
                width: 500px;
                height: 100px;
            }
        }
    }
    .footer_text {
        font-size: 55px;
    }
    .footer_title {
        font-size: 65px;
    }
    .footer_description {
        font-size: 55px;
        margin-right: -650px;
        margin-left: 60px;
    }
} //750px

@media (max-width: 500px) {
    .header {
        height: 150vh;
        min-height: 1800px;
        max-height: 1800px;
    }
    .header_text {
        .header_suptitle {
            width: 900px;
            margin-left: 1020px;
            font-size: 85px;
        }
    }
    .btn_header {
        margin-top: 950px;
    }
    .btn2 {
        border-radius: 30px;
        font-size: 70px;
        max-width: 755px;
        width: 100%;
        height: 165px;
        margin-top: 820px;
    }
    .btn2_broadcast {
        margin-top: 100px;
    }
    .btn2_about {
        margin-top: 100px;
    }
    .section_title {
        font-size: 115px;
        line-height: 1.1;
    }
    .section_suptitle {
        font-size: 60px;
    }
    .header_suptitle {
        font-size: 55px;
    }
    section {
        height: auto;
    }
    .section_text_paragraph {
        font-size: 60px;
    }
    .footer_blocks {
        margin-top: 250px;
        .footer_block {
            margin-right: -650px;
        }
        .footer_text {
            font-size: 70px;
        }
        .footer_title {
            font-size: 85px;
        }
    }
    .footer_description {
        font-size: 82px;
        margin-left: 60px;
    }
}
